In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]

dep=dataset[['classification_yes']]

In [5]:
indep.shape

(399, 19)

In [6]:
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['gini','entropy'],
            'max_features':['auto','sqrt','log2'],
            'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
#fiting the model for grid search
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [11]:
re=grid.cv_results_
grid_prediction=grid.predict(x_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_prediction)

#print classification Report
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_prediction)

In [12]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_prediction,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}: 0.9924946382275899

In [13]:
print("The confusion matrix:\n",cm)
print("The report:\n",clf_report)

The confusion matrix:
 [[51  0]
 [ 1 81]]
The report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99        51
           1       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [14]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9939024390243902

In [15]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.012579,0.003926,0.007682,0.003923,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.945100,0.962264,0.925524,0.905155,0.981031,0.943815,0.026669,4
1,0.017803,0.006914,0.008212,0.007163,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.945100,0.883278,0.944023,0.942332,0.981031,0.939153,0.031448,6
2,0.012134,0.004044,0.002021,0.003120,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.905069,0.925524,0.922492,0.902244,0.931066,0.035673,9
3,0.011766,0.003247,0.004449,0.004674,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.945100,0.942166,0.962573,0.924528,0.981031,0.951080,0.019232,2
4,0.014174,0.004233,0.002853,0.003756,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.872428,0.923510,0.981217,0.981031,0.924528,0.936543,0.040988,8
5,0.016250,0.008149,0.006068,0.004954,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.835928,0.906166,0.962573,0.906085,0.981217,0.918394,0.050991,12
6,0.008532,0.003238,0.004064,0.004977,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.926567,0.887907,0.925524,0.961826,0.981031,0.936571,0.032264,7
7,0.008095,0.003124,0.004049,0.004244,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.908501,0.924528,0.906705,0.943651,0.943651,0.925407,0.016137,11
8,0.010140,0.000017,0.003238,0.003966,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.926567,0.962636,0.962573,0.903887,0.981031,0.947339,0.028003,3
9,0.008504,0.003224,0.004478,0.004706,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.908877,0.903610,0.944023,0.922492,0.962264,0.928253,0.022006,10
10,0.010141,0.005121,0.006078,0.004245,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.926567,0.962264,0.944023,0.923652,0.943651,0.940032,0.013949,5
11,0.012144,0.004240,0.002030,0.003138,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.945100,0.923510,0.962573,0.962264,0.962573,0.951204,0.015395,1